---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---

User-agent: *
Disallow: /admin/
Disallow: /temp/
Disallow: /private/
Disallow: /legal/
Disallow: /site/
Disallow: /site.html
Disallow: /home/
Disallow: /ejemplohtml/
Disallow: /blog/ejemplo/

Sitemap: {{global_index.url}}/sitemap.xml