<!-- content_4_r.njk -->

<section class="bg-color  " data-scroll-section>


<div class="row ">

  <div class="col-xs-12 col-sm-6 front-text mb-32 sm:mb-0 ar-1-1 o-hidden">
    <img class="parallax-image c-image" data-scroll data-scroll-speed="-1" src="/assets/static/images/{{whytitle4_img}}" alt="">
  </div>

  <div class="col-xs-12 col-sm-6 front-text  align-middle ">
    <div class="wmax-450 mx-auto text-left pbr-64">

      <h3 class="fluid-5-l mb-24 c-accent"> {{ whytitle4_title | mdbr | safe }}  </h3>

      <h4 class="fluid-7-m  "> {{ whytitle4_subtitle | mdbr | safe }} </h4>
      <h4 class="p1 mb-24  "> {{ whytitle4_description | mdbr | safe }}</h4>

      <h4 class="fluid-7-m   "> {{ whytitle5_subtitle | mdbr | safe }}</h4>
      <h4 class="p1 mb-24  "> {{ whytitle5_description | mdbr | safe }}</h4>

      <h4 class="fluid-7-m   "> {{ whytitle6_subtitle | mdbr | safe }}</h4>
      <h4 class="p1 mb-24  "> {{ whytitle6_description | mdbr | safe }}</h4>






    </div>
  </div>

</div>




</section>