
<section class="front-section pbr-64" data-scroll-section>
    <div class="container-5">
        <div class="row  ptr-120 pb-32 md:reverse">
            <div class="col-xs-12 col-md-6 ">
                <div class="text-18-r c-accent mb-16">Ven a hablar con nosotros  </div>
                <div class="fluid-4-r mb-24 "> DÓNDE ENCONTRARNOS </div>
            </div>
        </div>
    </div>
    <div class="container-bleed ">


<div class="row">
    <div class="col-xs-4">  </div>
    <div class="col-xs-7">

    </div>
</div>

        <div class="row bleed-0">
            <div class="col-xs-12 mb-32 height-sm ">
                <div class="h-100">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2998.1973583994377!2d1.9790620762963271!3d41.282809002475176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a482b638b7eb37%3A0x5d468ec22f7052ab!2sToldos%20Marfil!5e0!3m2!1ses!2ses!4v1716879399084!5m2!1ses!2ses"
                        style="float: left;" width="100%" height="100%" style="border:0;" allowfullscreen=""
                        loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

      
            </div>
        </div>
    </div>
    <div class="container-5  pbr-64">
        <div class="row smmax:reverse">



            <div class="col-xs-10 col-md-6 ">

                <div class="text-14-r mb-24  ">
                    <span class="border-b is-flex align-middle content-start">
                        <div class="mr-16 "><svg width="18" height="23" viewBox="0 0 18 23" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M17 8.96552C17 16.2069 9 22 9 22C9 22 1 16.2069 1 8.96552C1 4.56638 4.77455 1 9 1C13.2255 1 17 4.56638 17 8.96552Z"
                                    stroke="#A1A1A1" stroke-linecap="round" stroke-linejoin="round" />
                                <path
                                    d="M9 13.6724C11.6108 13.6724 13.7273 11.5651 13.7273 8.96552C13.7273 6.36597 11.6108 4.25862 9 4.25862C6.3892 4.25862 4.27273 6.36597 4.27273 8.96552C4.27273 11.5651 6.3892 13.6724 9 13.6724Z"
                                    stroke="#A1A1A1" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                        Avda.Diagonal, 416 (Casa de les Punxes)
                    </span>
                </div>
                <div class="text-14-r  mb-24 is-flex align-middle">
                    <div class="mr-16">
                        <svg width="15" height="26" viewBox="0 0 15 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1 5.13793H14M1 20.8621H14M4.82353 3.48276H10.1765M2.91176 1H12.0882C13.1441 1 14 1.92631 14 3.06897V22.931C14 24.0737 13.1441 25 12.0882 25H2.91176C1.85593 25 1 24.0737 1 22.931V3.06897C1 1.92631 1.85593 1 2.91176 1ZM8.26471 22.931C8.26471 23.3881 7.92234 23.7586 7.5 23.7586C7.07766 23.7586 6.73529 23.3881 6.73529 22.931C6.73529 22.474 7.07766 22.1034 7.5 22.1034C7.92234 22.1034 8.26471 22.474 8.26471 22.931Z"
                                stroke="#A1A1A1" stroke-miterlimit="10" stroke-linecap="round" />
                        </svg>
                    </div>
                    93 619 12 16
                </div>
                <div class="text-14-r  mb-24 is-flex align-middle">
                    <div class="mr-16"><svg width="24" height="23" viewBox="0 0 24 23" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M23 1L1 10.5134L9.4081 14.0755M23 1L9.4081 14.0755M23 1L19.0886 19.5077L9.4081 14.0755M9.4081 14.0755V22L12.8401 16.0011"
                                stroke="#A1A1A1" stroke-linejoin="round" />
                        </svg>
                    </div>
                    info@magnaurbis.com
                </div>


            </div>

            <div class="col-xs-8 col-md-6 mb-32 md:mb-0">
                <div class="ar-4-3 border-20  p-relative sub-image o-hidden">
                    <img class="parallax-box " data-scroll data-scroll-speed="-1"
                        src="/assets/static/images/casa_punxes.jpg" alt="">
                </div>
            </div>


    
        </div>
    </div>
</section>