<!-- content_img.njk -->

<section data-scroll-section>


<div class="row ">

  <div class="col-xs-12  front-text mb-32 o-hidden pb-64">
    <img width="100%" class="" data-scroll data-scroll-speed="-1" src="/assets/static/images/logohorizontal.jpg" alt="">
  </div>



</div>




</section>