<!-- content_text.njk -->
<section class="inview " data-scroll-section>  
  <div class="container-3  pb-64">
    <div class="row sm:reverse   ">

      <div class="col-xs-12">

        <div class="innermarkdown"> 

          {{ content  | safe }}
        </div>
   
      </div>



    </div>
</section>