
<div class="front-section" data-scroll-section>   
    <section class="container-5">
        <div class="row  ptr-120 pbr-120 md:reverse">
            <div class="col-xs-12 col-md-6 pt-16">

                <div class="text-18-r bold mb-16">Lorem ipsum dolor sit amet</div>
                <div class="fluid-4-r mb-24">Dónde encontrarnos</div>

                <div class="text-14-r mb-24">Avda.Diagonal, 416 (Casa de les Punxes)</div>
                <div class="text-14-r  mb-24">93 619 12 16</div>
                <div class="text-14-r  mb-24">info@magnaurbis.com</div>

            </div>


        <div class="col-xs-12 col-md-6 mb-32 ">

            <div class="ar-1-1">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2998.1973583994377!2d1.9790620762963271!3d41.282809002475176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a482b638b7eb37%3A0x5d468ec22f7052ab!2sToldos%20Marfil!5e0!3m2!1ses!2ses!4v1716879399084!5m2!1ses!2ses" 
          
                style="float: left;"
                width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>


        </div>

        </div>


    </section>
</div>