<!-- content_1.njk -->
<section class="bg-color " data-scroll-section>
  <div class="container  pb-64">
    <div class="row  smmax:reverse    ">
      <div class="col-xs-12 col-sm-6 front-text  align-middle">
        <div class="wmax-450 mx-auto">
          <h4 class="fluid-5-l mb-24  ">  {{ content_1_title | mdbr | safe | default("Variable no encontrada") }}</h4>
          <p class="p1"> {{ content_1_description | mdbr | safe | default("Variable no encontrada") }}</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 front-text mb-32 sm:mb-0 ar-1-1">
        <div class="ar-1-1 o-hidden p-relative">
          <img class="parallax-image c-image" data-scroll data-scroll-speed="-3" src="/assets/static/images/casa1.jpg"
            alt="">
        </div>
      </div>
    </div>
</section>