<!-- footer_3.njk -->
<footer class=" front-section  bg-light   " data-scroll-section>
  <div class="container mx-auto  pt-64 pb-64 ">
    <div class="row">
      <div class="col-xs-12 col-md-6">

        <div class="text-16-r c-accent mb-16 ">
          {{global_index.footer_1}}
        </div>



        <div class="text-14-r mb-16">
          {{global_index.empresa_legal_direccion}}
        </div>
        <div class="text-14-r mb-16">
          {{global_index.email}}
        </div>
        <div class="text-14-r mb-16">
          {{global_index.telefono}}
        </div>


      </div>


      <div class="col-xs-12 col-md-2">
        <div class="fluid-8-m c-accent mb-24">Tratamientos</div>
        <ul class="list-clear  ">
          {% for tratamiento in collections.tratamientos %}
          {% if tratamiento.data.seccion %}
          <li>
            <a href="{{ tratamiento.url }}"><span>{{ tratamiento.data.seccion }}</span></a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="col-xs-12 col-md-2">
        <div class="fluid-8-m c-accent  mb-24"">Ayuda</div>
        <ul class="list-clear  ">
          {% for legal in collections.legal %}
          {% if legal.data.title %}
          <li>
            <a href="{{ legal.url }}"><span>{{ legal.data.title }}</span></a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="col-xs-12 col-md-2">
        <div class="fluid-8-m c-accent  mb-24"">Enlaces de interés</div>
        <ul class="list-clear  ">
          {% for tratamiento in collections.tratamientos %}
          {% if tratamiento.data.seccion %}
          <li>
            <a href="{{ tratamiento.url }}"><span>{{ tratamiento.data.seccion }}</span></a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>




  </div>
</div>



  <div class="container bg-light">
    <div class="row">
      <div class="col-xs-12">
        <hr>
        <div class="pt-24 pb-24"><a href="/legal/aviso" class=""> {{global_index.footer_3}} </a></div>
      </div>
    </div>
  </div>
</footer>