<!-- introTitle.njk -->


<section class="  " data-scroll-section>  
  <div class="container-3">

    <div class="row pb-64 pt-64 inview">
      <div class="col-xs-12 text-center">

        <div class="fluid-6-l mb-24 c-accent">
          {% call insert.splitenpalabras(introtitle_title ) %} {% endcall %}
        </div>

        <div class="fluid-9-r mb-24">
          {% call insert.splitenpalabras(introtitle_subtitle ) %} {% endcall %}
        </div>


        <button class="btn-secondary btn--big btn ">
     CONTACTA CON NOSOTROS
        </button>

      </div>
    </div>

  </div>
</div>

</section>

