<!-- introCta_2.njk -->
<section class=" herohome inview  o-hidden   bg-hero  height-lg is-flex align-bottom " data-scroll-section>
  <div class="image-bg">



    {% if introCta_image %}

    <img data-scroll data-scroll-speed="-1" src="{{ introCta_image | default(" Variable no encontrada") }}" alt="">


<div class="header-overlay"></div>

    {% endif %}

  </div>
  <div class=" container-global mx-auto   ">
    <div class="row section-x   align-middle  ">
      <div class="col-xs-12 text-center mb-40">
        <div class="vertical-wrap ">
          <div class="vertical-inner">
            <h1 class="fluid-3-l c-white ">
              {% call insert.splitenpalabras(introCta_title | default("Variable no encontrada")) %} {% endcall %}
            </h1>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-7 front-text ">


      </div>
    </div>
  </div>
</section>