
<section class="bg-color pbr-120 front-section " data-scroll-section>
  introbenefits2
  <div class="container-global  mx-auto   ">
    <div class="row pb-64 pt-64 inview">
      <div class="col-xs-12 col-lg-9 ">
        <div class="text-18-r bold mb-24">
          {{introbenefits2_subtitle}}
        </div>
        <div class="fluid-5-l mb-24">
  

          {{ introbenefits2_content }}
        </div>


      </div>
    </div>

    <div class="row">
      <div class="col-lg-8"></div>
      <div class="col-xs-6 col-lg-3"> 
        <div class="text-14-r">
          {{introbenefits2_subcontent}}
        </div>
</div>
    </div>

  </div>
</section>