<!-- servicios_2.njk -->
<section class=" pbr-64 ptr-64" data-scroll-section>
  <div class="container-2 mb-64">
    <div class="row">
      <div class="col-xs-12 text-center ">
        <h4 class="fluid-8-m ">
          ¿Qué necesitas?</h4>
        <h2 class="fluid-5-l  pb-20 c-accent">
          {{servicios or 'servicios'}}
        </h2>
      </div>
    </div>
  </div>
  <div class="container-fluid mx-auto   ">
    <div class="row">
      <div class="col-xs-12  col-sm-3  flex-column is-flex   mb-24  ">
        <a href="{{tratamiento1_url or 'tratamiento1_url'}}">
          <div class="bg-color p-24 height-xs  ">
            <div class="icon-wrapper  mb-16">
              <img src="/assets/static/images/tratamientos/tratamiento-1.png" alt="">
            </div>
            <div class="fluid-8-m mb-16 "> {{tratamiento1_title or 'tratamiento1_title'}} </div>
            <div class="text-14-r ">{{tratamiento1_content or 'tratamiento1_content'}} </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12  col-sm-3  flex-column is-flex  mb-24 ">
        <a href="{{tratamiento2_url or 'tratamiento2_url'}}">
          <div class="bg-color p-24 height-xs  ">
            <div class="icon-wrapper  mb-16"> <img src="/assets/static/images/tratamientos/tratamiento-2.png" alt="">
            </div>
            <div class="fluid-8-m mb-16 "> {{tratamiento2_title or 'tratamiento2_title'}} </div>
            <div class="text-14-r ">{{tratamiento2_content or 'tratamiento2_content'}} </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12  col-sm-3  flex-column is-flex   mb-24 ">
        <a href="{{tratamiento3_url or 'tratamiento3_url'}}">
          <div class="bg-color p-24 height-xs  ">
            <div class="icon-wrapper  mb-16"> <img src="/assets/static/images/tratamientos/tratamiento-3.png" alt="">
            </div>
            <div class="fluid-8-m mb-16 "> {{tratamiento3_title or 'tratamiento3_title'}} </div>
            <div class="text-14-r ">{{tratamiento3_content or 'tratamiento3_content'}} </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12  col-sm-3  flex-column is-flex   mb-24 ">
        <a href="{{tratamiento4_url or 'tratamiento4_url'}}">
          <div class="bg-color p-24 height-xs    ">
            <div class="icon-wrapper  mb-16"> <img src="/assets/static/images/tratamientos/tratamiento-4.png" alt="">
            </div>
            <div class="fluid-8-m mb-16 "> {{tratamiento4_title or 'tratamiento4_title'}} </div>
            <div class="text-14-r ">{{tratamiento4_content or 'tratamiento4_content'}} </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12  col-sm-3  flex-column is-flex   mb-24 ">
        <a href="{{tratamiento5_url or 'tratamiento5_url'}}">
          <div class="bg-color p-24 height-xs    ">
            <div class="icon-wrapper  mb-16">
              <img src="/assets/static/images/tratamientos/tratamiento-5.png" alt="">
            </div>
            <div class="fluid-8-m mb-16 "> {{tratamiento5_title or 'tratamiento5_title'}} </div>
            <div class="text-14-r ">{{tratamiento5_content or 'tratamiento5_content'}} </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12  col-sm-3  flex-column is-flex  mb-24 ">
        <a href="{{tratamiento6_url or 'tratamiento6_url'}}">
          <div class="bg-color p-24 height-xs    ">
            <div class="icon-wrapper  mb-16"> <img src="/assets/static/images/tratamientos/tratamiento-6.png" alt="">
            </div>
            <div class="fluid-8-m mb-16 "> {{tratamiento6_title or 'tratamiento6_title'}} </div>
            <div class="text-14-r ">{{tratamiento6_content or 'tratamiento6_content'}} </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12  col-sm-3  flex-column is-flex   mb-24 ">
        <a href="{{tratamiento7_url or 'tratamiento7_url'}}">
          <div class="bg-color p-24 height-xs    ">
            <div class="icon-wrapper  mb-16"> <img src="/assets/static/images/tratamientos/tratamiento-7.png" alt="">
            </div>
            <div class="fluid-8-m mb-16 "> {{tratamiento7_title or 'tratamiento7_title'}} </div>
            <div class="text-14-r ">{{tratamiento7_content or 'tratamiento7_content'}} </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12  col-sm-3  flex-column is-flex   mb-24 ">
        <a href="{{tratamiento8_url or 'tratamiento8_url'}}">
          <div class="bg-color p-24 height-xs    ">
            <div class="icon-wrapper  mb-16"> <img src="/assets/static/images/tratamientos/tratamiento-8.png" alt="">
            </div>
            <div class="fluid-8-m mb-16 "> {{tratamiento8_title or 'tratamiento8_title'}} </div>
            <div class="text-14-r ">{{tratamiento8_content or 'tratamiento8_content'}} </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>