<section class="bg-light  ptr-120 pbr-120 " data-scroll-section>
  <div class="container-global mx-auto">
    <div class="row ">
      <div class="col-xs-12 col-sm-12 text-center">
        <h4 class="h5 mb-24 c-accent">Para que no te preocupes de nada </h4>
        <h3 class="h2 mb-24">SERVICIOS PARA PROPIETARIOS </h3>
      </div>
    </div>
  </div>



    <div class="ov-hidden popular">
      <!-- Slider main container -->
      <div class="swiper-container-img">
        <!-- Additional required wrapper -->
        <ul class="swiper-wrapper my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
          <!-- Slides -->
          {% for galeria in global.galeria.split(',') %}
          <li class="swiper-slide border-20" itemprop="associatedMedia" itemscope
            itemtype="http://schema.org/ImageObject">
            <a class="slide-link" title="click to zoom-in" href="{{ global.imageDir }}galeria/zoom/{{ galeria }}.jpg"
              itemprop="contentUrl" data-size="1200x1200">
              <div class="rat-3-4 ">
                <div class="rat-content">
                  <img src="{{ global.imageDir }}galeria/{{ galeria }}.jpg" itemprop="thumbnail" alt="{{ galeria }}" />
                </div>
              </div>
            </a>
          </li>
          {% endfor %}
        </ul>
   
        

      </div>
    </div>


<div class="container-global">
  
    <div class="row">
      <div class="col-xs-6 col-sm-12"> </div>
      <div class="col-xs-6 col-sm-12 text-right">
        <div class="swiper-arrows-img">
          <button class="swiper-prev" aria-label="Anterior slide">
            <div> ← </div>
          </button>
          <button class="swiper-next" aria-label="Siguiente slide">
            <div>→ </div>
          </button>
        </div>
      </div>
    </div>
</div>
</section>