---
layout: layout/base.njk
---
{% set noheroimage = [] %}
{% import global.base_modules+"_macros/_insert.njk" as insert %}
<div class="main-article">
  {% include global.base_modules+"templates/1-introCta_1.njk" %}
  {{global.url}} <br>
  {{global.base_modules}}
  <div class="container-fluid bg-color">
    boilerplate
  </div>
</div>

