<!-- content_foto.njk -->
<section class="bg-color " data-scroll-section>
  <div class="container  pb-64 ptr-120">
    <div class="row  ">


      <div class="col-xs-12 col-sm-3 front-text mb-32 sm:mb-0 ar-1-1">
        <div class="ar-1-1 o-hidden p-relative">
          <img class="parallax-image c-image" data-scroll data-scroll-speed="-3" src=" {{ content_foto_img }}"
            alt="" width="400" height="400" loading="lazy" />
        </div>
      </div>


      <div class="col-xs-12 col-sm-3 front-text mb-32 sm:mb-0 ar-3-4">
        <div class="ar-3-4 o-hidden p-relative">
          <img class="parallax-image c-image" data-scroll data-scroll-speed="-3" src=" {{ content_foto_img_2 }}"
            alt="" width="400" height="300" loading="lazy" />
        </div>
      </div>


      <div class="col-xs-12 col-sm-6 front-text  align-middle">
        <div class="wmax-450 mx-auto">
          <h2 class="h4 mb-24"> {{ whytitle1_subtitle | mdbr | safe }}</h2>
          <p class="p1 mb-24"> {{ whytitle1_description | mdbr | safe }}</p>
          <a href="/contacta/" class="btn btn-primary">Contacta con nosotros</a>
        </div>
      </div>
    </div>
</section>