<!-- introCta_2.njk -->
<section class=" herohome inview  o-hidden   bg-hero bg-overlay front-section align-multi-bottom "
  data-scroll-section>
  <div class="video-bg2">


    <img class="parallax-image" data-scroll data-scroll-speed="-3" src="/assets/static/images/casa2.webp" alt="">

  </div>
  <div class="  container-global mx-auto z-20 p-relative height-xl align-multi-bottom is-flex   ">
    <div class="row section-x     ">
      <div class="col-xs-12  pbr-64 ">
        <div class="vertical-wrap   ">
 
          <h1 class="h1 mb-24 animate-word has-light " data-delay="0">
            {{hero_title |mdbr |safe}}
          </h1>




        </div>
      </div>

    </div>
  </div>
</section>