.btn-primary {
  color: $c-white;
  background-color: #179CAA;
  border: 1px solid #179CAA;
}
b {
  @include font-bold;
}
strong {
  color: $c-secondary;
}
b {
  color: $c-secondary;
}
.bold {
  background-color: #179CAA;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn.btn--icon {
  width: 300px;
  height: 80px;
  background-color: $c-white;
  border-color: $c-white;
  &:hover {
    opacity: 1;
    background-color: $c-white;
    border-color: $c-white;
    .btn__circle {
      -webkit-clip-path: inset(0 round 4.25rem);
      clip-path: inset(0 round 4.25rem);
    }
  }
  .btn--icon-text {
    position: absolute;
    left: 32px;
    top: 32px;
    line-height: 1;
  }

}
.has-light {
  .btn-primary {
    color: $c-white;
    border: 1px solid $c-accent;
    background-color:$c-accent;
  }
  a {
    color: white;
  }
  b {
    color: white;
  }
  .menu-toogle-bars {
    span {
      background-color: $c-white;
    }
  }
  .scrolled & {
    .menu-toogle-bars {
      span {
        background-color: #000;
      }
    }
  }
  .menu-open & {
    .menu-toogle-bars {
      span {
        background-color: #000;
      }
    }
  }
}

svg{
  fill: transparent!important;
}

.btn.btn--big{
  font-size: 12px;
  @media (min-width: $break-md) {
    font-size: 14px;
  }
}

.logo-centrado{

}

.logo-simple{
width: 138px;
margin-top: 8px;
svg{
  width: 100%;
  height: 100%;
}
  @media (min-width: $break-md) {
    width: 242px;
  }
}

.watermark{
  position: absolute;
  width: 50%;
  @media (min-width: $break-md) {
width: 50%;
  }

}
.form-input-label-2{

  .input, .textarea, .select select {
    border: 1px solid #DCDCDC;
    border-color: #DCDCDC;
    border-width: 1px;
    padding-inline: 16px;
  }



  

}


.form-input-label-2 > input,
.form-input-label-2 > label,
.form-input-label-2 > textarea,
.error-zone > input,
.error-zone > label {

  padding-left: 16px;
  font-weight: normal;
  font-size: 12px;
  text-transform: uppercase;
}

